:root {
  
    font-size: 62.5%;
  }
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 1.6rem;
    background-color: rgb(148, 12, 12)!important;
    position: relative;
}
/* -------------------------------------NAV------------------------------------- */
nav {
    padding-right: 5rem!important;
    height: 8rem;
}
/* -------------------------------------NAV------------------------------------- */
nav ul {
    height: 2.5rem;
}

/* -------------------------------------FIM-NAV------------------------------------- */

/* -------------------------------------CARRINHO------------------------------------- */
.carrinho_content {
    margin-top: 10rem;
}
#input_add_item_carrinho {
    height: 4rem;
    width: 18rem;

    background-color: green;
    border: none;

    box-shadow:inset 0 3 1rem black;

    color: white;
    
    border-radius: 1rem;

}
#input_add_item_carrinho:hover {
    transform: scale(1.1);
    transition: 500ms;
}
#close_carrinho {   
position: absolute;
top: 10rem;
    right: 3rem;
}
/* -------------------------------------FIM-CARRINHO------------------------------------- */

/* -------------------------------------TOTAL------------------------------------- */
.total {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 12rem;
    right: 9rem;

    background-color: black;
    border-radius: 2rem;
}
.content_total {
    margin-top: 1rem;
    color: white;
}
.content_total p {
    box-shadow: 0 0 1rem white;
}
/* -------------------------------------FIM-TOTAL------------------------------------- */

/* -------------------------------------TABELA------------------------------------- */
#table_listagem td {
    /* margin: 1px solid black; */
    border: 1px solid black;
    border-radius: 2rem;
    padding-block: 2rem;
    margin-block: 1rem;
    background-color: white;
}
#table_listagem th {
    /* margin: 1px solid black; */
    border: 1px solid black;
    border-radius: 2rem;
    padding-block: 4rem;
    margin-block: 1rem;

    background-color: black;
    color: white;
}

.remover_button {
    height: 4rem;
    width: 8rem ;

    background-color: red;
    border-radius: 1rem;
    border: none;
    box-shadow:inset 0 0 10px  rgb(0, 0, 0), 0 0 2px 3px rgb(0, 0, 0);
}
.remover_button:hover {
    transform: scale(1.1);
    transition: 300ms ease-in-out;
}
.remover_button a {
    color: rgb(0, 0, 0);
    font-weight: 900;
}
#table_listagem input {
    width: 3rem;
}


/* -------------------------------------FIM-TABELA------------------------------------- */
/* -------------------------------------FOOTER------------------------------------- */

footer {
    position: relative;
    bottom: -16rem;
    
    height: 25rem;
    
    background-color: black;
}
footer .touch a{
    color: white;
    
}
/* -------------------------------------FIM-FOOTER------------------------------------- */




